@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
    color: #000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROzVJ8H5YhLWQCwPUtRHZTiYCaAPVVIHWWc68ga03V&s");
    transition-duration: 400ms;
    background-repeat: no-repeat;
    background-size: cover;
}


.dark {
    color: #fff;
    transition-duration: 400ms;
    background: rgb(2, 0, 36);
}




/* button.light {
    background-color: white;
    color: #000;
    transition-duration: 400ms;
    background-repeat: no-repeat;
    background-size: cover;

}

button.dark {
    color: #fff;
    transition-duration: 400ms;
    background: rgb(2, 0, 36);
}


button {
    transition-duration: 400ms;
} */